@import "variables";

html {
   font-size: 15px;
}

body {
   position: relative;
   min-width: 320px;
   min-height: 100vh;
   background-color: $background;
   color: $font-color-dark;
   font-family: "Montserrat", sans-serif;
}

main {
   padding-top: 100px;
   padding-bottom: 100px;
}

section {
   display: flex;
   @include centred-elements;
   margin-bottom: auto;
   padding-bottom: 50px;
   min-height: 500px;
}

section .container {
   display: flex;
   flex-direction: column;
   @include centred-elements;
}

.title {
   text-align: center;
   font-size: 2rem;
   font-weight: 200;
   margin-bottom: 0.5em;
   text-transform: uppercase;

   background: $gradient-green;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.subtitle {
   text-align: center;
   font-size: 1.3rem;
   font-weight: 400;
   margin-bottom: 3em;
   background: $gradient-brown;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/*.btn {
   display: block;
   text-align: center;
   box-shadow: $shadow-out;
   color: $font-color-dark;
   font-family: inherit;
   font-weight: 400;
   font-size: 13px;
   padding: 10px;

   &:hover,
   &:focus {
      box-shadow: $shadow-in;
   }
   &:active {
      color: $hover-color;
   }
   &:disabled {
      color: grey;
      box-shadow: $shadow-out;
   }
}

.btn-primary {
   width: 120px;
   height: 40px;
   border-radius: 20px;
}

.btn-next-container {
   display: flex;
   margin: 50px auto;
}

.active {
   color: $hover-color;
   box-shadow: $shadow-in;
}*/

header,
footer {
   width: 100%;
}

header {
   height: 60px;
   position: fixed;
   top: 0;
   z-index: 1;
   background-color: $background;
   border-bottom: 1px solid $tools-color;
}



.navigation {
   display: flex;
   justify-content: space-between;
   height: 100%;

   .logo {
      display: flex;
      flex-direction: column;
      width: 600px;

      span {
         display: block;
      }

      span:first-child {
         text-align: center;
         font-family: "Pacifico", sans-serif;
         font-size: 1.5rem;
         font-weight: bold;
         border-bottom: 1px solid black;
      }
      span:last-child {
         text-transform: lowercase;
         text-align: center;
         font-size: 0.8rem;
      }
   }

   .menu {
      display: flex;
      justify-content: space-evenly;
      position: relative;

      li {
         display: flex;
         @include centred-elements;

         a {
            width: 100px;
            padding: 10px;
            border-radius: 20px;
            text-align: center;

            &:hover,
            &:focus {
               box-shadow: $shadow-in;
               border-radius: 20px;
            }
         }
      }
   }

   .active {
      box-shadow: $shadow-in;
      color: $hover-color;
   }

   .logo,
   .cart {
      height: 100%;
   }

   .cart {
      justify-content: center;
      text-align: center;
      width: 100px;
      margin-right: 20px;

      a,
      button {
         width: 40px;
         padding: 5px;
         border-radius: 25px;
      }
   }

   .menu-burger {
      display: none;

      &:hover,
      &:focus {
         box-shadow: $shadow-in;
         color: $hover-color;
      }
   }
}

form {
   display: flex;
   flex-wrap: wrap;
   max-width: 900px;

   @include side-margin;

   .col-sm {
      display: flex;
      justify-content: stretch;
      width: 100%;
      padding: 8px 8px 0 8px;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .col-md {
      flex: 1 1 auto;
      width: 33%;
      min-width: 250px;
      padding: 8px 8px 0 8px;
   }

   .col-bd {
      width: 100%;
      padding: 8px 8px 0 8px;
   }

   label {
      display: block;
      padding-left: 10px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 15px;
   }

   input,
   textarea {
      font-family: inherit;
      width: 100%;
      border-radius: 20px;
      border: none;
      background: transparent;
      box-shadow: $shadow-in;
      padding: 9px 15px;

      &:focus {
         background-color: transparent;
         box-shadow: $shadow-in;
      }
   }

   select {
      width: 100%;
      padding: 9px 15px;
      text-align: center;
      background: transparent;
      box-shadow: $shadow-out;
      border: none;
      border-radius: 20px;
      appearance: none;
      font-family: inherit;
   }

   .checkbox {
      width: 20px;
      height: 20px;
      padding: 9px;
      background: transparent;
      border: none;
      border-radius: 20px;
      box-shadow: $shadow-out;
      appearance: none;

      &:checked {
         box-shadow: $shadow-in;
      }
   }

   .tooltip-box {
      display: block;
      @include side-margin;
      padding: 5px 0;
      text-align: center;
      visibility: hidden;
      font-size: 0.8rem;
      background-color: transparent;
      color: $hover-color;
   }


}

.order {
   .container {
      display: flex;
      flex-direction: column;
      @include centred-elements;
   }

   .information {
      max-width: 700px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      @include centred-elements;
      border-radius: 20px;

      .subtitle {
         margin-top: 30px;
      }
   }

   p {
      font-size: 1.2rem;
      margin: 6px 0;
      text-align: center;
      line-height: 30px;

      span {
         font-size: 1.2rem;
         font-weight: bold;
         margin: 0 5px;
         color: rgb(8, 101, 60);
         border-bottom: 1px dashed $hover-color;
      }
   }

   .goodbye {
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 30px;
   }


   button {
      margin-top: 50px;
   }
}

/*home page*/

.info {
   .steps-container {
      display: flex;

      .description {
         text-align: center;
      }
   }

   .col {
      min-width: 250px;
      flex-direction: column;
      padding: 15px;
      @include side-margin;
   }

   .card-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
   }
}

.about-us {
   .intro {
      display: flex;
      align-items: center;
   }

   .carousel {
      min-height: 100px;
      max-height: 300px;
      overflow: hidden;
      margin-left: 1%;
      margin-right: 1%;
   }

   .carousel-item {
      position: relative;
   }

   .carousel-item img {
      width: 100%;
      height: 100%;
   }

   .carousel-item p {
      position: absolute;
      text-align: justify;
      padding: 30px;
      background-color: rgba(240, 240, 247, 0.65);
      border-radius: 20px;
      color: #000;
      font-size: 12px;
      min-width: 120px;
   }

   .first {
      width: 40%;
      top: 30px;
      left: 20px;
   }

   .second {
      width: 40%;
      top: 30px;
      right: 30px;
   }

   .third {
      width: 40%;
      right: 30px;
      top: 80px;
   }

   .btn:first-child {
      height: 40px;
      border-radius: 20px 0 0 20px;
   }

   .btn:last-child {
      height: 40px;
      border-radius: 0 20px 20px 0;
   }

   .btn:active {
      box-shadow: $shadow-out;
   }

   .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
   }

   @-webkit-keyframes fade {
      from {
         opacity: 0.4;
      }
      to {
         opacity: 1;
      }
   }

   @keyframes fade {
      from {
         opacity: 0.4;
      }
      to {
         opacity: 1;
      }
   }
}
