@import "variables";

main {
   flex-direction: column;
   padding: 65px 0;
}

.container {
   width: 1200px;
   margin: auto;
}

h2 {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 200;
   margin-bottom: 0.5em;
   text-transform: uppercase;
   background: $gradient-green;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h3 {
   text-align: center;
   font-size: 1.2rem;
   font-weight: 400;
   background: $gradient-brown;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

header,
footer {
   width: 100%;
}
